
@{ 
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content("~/img/Corn_crake.jpg")" alt="...">
                <div class="caption">
                    <h3>Corn crake</h3>
                    <p>The corn crake, corncrake or landrail (Crex crex) is a bird in the rail family. It breeds in Europe and Asia as far east as western China, and migrates to Africa for the northern hemisphere's winter. It is a medium-sized crake with buff- or grey-streaked brownish-black upperparts, chestnut markings on the wings, and blue-grey underparts with rust-coloured and white bars on the flanks and undertail.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content("~/img/Great_Bustard.jpg")" alt="...">
                <div class="caption">
                    <h3>Great bustard</h3>
                    <p>The great bustard was classified with its scientific name in 1758 by Carl Linnaeus, though the species was referred to as avis tarda in the much older writings of Pliny the Elder, and hence its names in English (from Old French bistarda) and some other languages: abetarda (pt), avetarda (gl), avutarda (es). Otis is an Old Greek name for "bustard". The specific name, tarda, is Latin for "slow" and "deliberate", which is apt to describe the typical walking style of the species</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content("~/img/Cream-coloured_Courser.jpg")" alt="...">
                <div class="caption">
                    <h3>Cream-colored courser</h3>
                    <p>These birds have long legs and long wings. They have slightly downcurved bills. The body plumage is sandy in colour, fading to whitish on the lower belly. The upperwing primary feathers and the underwings are black. The crown and nape are grey, and there is a black eyestripe and white supercilium.</p>
                </div>
            </div>
        </div>
    </div>
</div>
